BLOCKFROST_PROJECT_ID=preview_your_project_id_here
CARDANO_NETWORK=preview
CARDANO_SIGNING_KEY_PATH=Blockchain/wallet/payment.skey
CARDANO_ADDRESS_PATH=Blockchain/wallet/payment.addr
CARDANO_METADATA_LABEL=674
CARDANO_MIN_OUTPUT_LOVELACE=2000000
PORT=8090
